* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Roboto, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body.dark {

  --bg: #09090f;
  --surface: rgba(18,18,25,0.8);
  --card: #13131b;
  --text: #ffffff;
  --text2: #a1a1aa;
  --primary: #8b5cf6;
  --border: rgba(255,255,255,0.06);

}

body.light {

  --bg: #f4f4ff;
  --surface: rgba(255,255,255,0.9);
  --card: #ffffff;
  --text: #111827;
  --text2: #52525b;
  --primary: #7c3aed;
  --border: rgba(0,0,0,0.08);

}

body {

  background: var(--bg);
  color: var(--text);

  transition:
    background 0.3s,
    color 0.3s;

}

.topbar {

  position: sticky;
  top: 0;

  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 30px;

  background: var(--surface);

  backdrop-filter: blur(12px);

  border-bottom:
    1px solid var(--border);

}

.logo {

  font-size: 28px;
}
